*{
    margin: 0;
    padding: 0;
}
html{
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-image{
    float: right;    
    padding: 50px 300px 50px 0;
}

header{
    background-color: rgb(41, 95, 204);
    font-size: 30px;
    padding: 60px 10px 60px 100px;
}
header h1{
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.aside ul{
    width: 400px;
    height: 400px;
    padding: 150px 0 0 0;
    font-size: 200px;
    background-color: orange;
   
}
.aside ul li{    
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 2rem;
    
}
.aside ul li a{
    color: black;
    font-size: 30px;
    text-decoration: none;
    padding-left: 100px; 
}
.dad{
    float: right;
    padding: 50px;
}
.dad1{
    float: right;
    padding: 50px;
   
}
.dad2{
    float: right;
    padding: 100 550 50 0;
}

/* TESTING CODE ENDING ON TOP OF THE .FOOTER */
#container{
    
    display: flex;    
    flex-wrap: wrap;
}
#container div{
    background-color: aquamarine;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    width: 200px;
}


#grid{
    background-color: green;
    display: grid;
    padding: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-columns: 50px 200px auto;
}
.grid-item{
    background-color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
.row{
    font-size: 70px;
    color: red;
}
.pic{
    
    padding-left: 50px;
    border: 60px;
}
.test ul li{
    font-size: 40;
    text-decoration-line: underline;
    padding-right: 90px;
}
h4{
    color: orange;
    font-size: 50px;
}
#container img{
    margin: 20px;
    padding: 20px;
    background-color: blue;
    border-radius: 20%;    
}
.layered-card {
    position: relative;
    
    margin-top: 100px;
    display: flex;

    /* Demo */
    height: 6rem;
    width: 6rem;
}

.layered-card::before {
    background: #ee940c;
    content: '';

    /* Position */
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(1rem, 1rem);

    /* Size */
    height: 100%;
    width: 100%;

    /* Display under the main content */
    z-index: 0;
}

.layered-card__content {
    /* Position */
    left: 0;
    position: absolute;
    top: 0;

    /* Size */
    height: 100%;
    width: 100%;

    z-index: 1;

    background: #fff;
}





.footer {
    background-color: rgb(41, 95, 204);
    font: italic 50px;
    text-align: center;
    position: relative;    
    inset: auto 0 0;
    padding: 1.5rem;
    clear: both;
 }
.footer .inner-footer p{
    font-size: 30px;
    color: white;
}
